<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/planos.css">
</head>
<body>
    <header class="cabecalho">
        <a href="../index.html" class="logo-container">
            <img class="logo__imagem" src="../assets/images/logo-energia-inteligente.svg" alt="LOGO"
                width="65px"
                height="65px">
            <h2 class="logo__titulo">Energia Inteligente</h2>
        </a>
      
        <ul class="cabecalho__lista">
            <li class="lista__item"><a href="#">SOBRE NÓS</a></li>
            <li class="lista__item"><a href="../index.html">HOME</a></li>
        </ul>
    </header>

    <main class="precos">
        <h1 class="precos__titulo">Planos</h1>

        <div class="mensal-anual-container">
            <button class="botao-mensal" id="botao-mensal">Mensal</button>
            <button class="botao-anual" id="botao-anual" disabled>Anual</button>
        </div>
        
        <ul class="planos">
            <img class="planos__icone" src="../assets/icons/plano-gratis.png" alt="Ícone do Plano Grátis">
            <li class="plano">
                <h3 class="plano__subtitulo">Plano Grátis</h3>
                <hr class="plano__barra">

                <ul class="plano__lista">
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/check.png" alt="Check">
                        <p class="item__descricao">Simulador Inteligente</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/check.png" alt="Check">
                        <p class="item__descricao">Dicas Práticas Personalizadas</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/close.png" alt="Check">
                        <p class="item__descricao">Relatórios Avançados de Economia</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/close.png" alt="Check">
                        <p class="item__descricao">Gamificação e Rankings Sustentáveis</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/close.png" alt="Check">
                        <p class="item__descricao">Suporte Prioritário</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/close.png" alt="Check">
                        <p class="item__descricao">Monitoramento em Tempo Real</p>
                    </li>
                </ul>

                <hr class="plano__barra">
                <p class="plano__descricao">Inscreva-se nos planos para ter acesso as vantagens.</p>
            </li>

            <img class="planos__icone" src="../assets/icons/plano-plus.png" alt="Ícone do Plano Plus">
            <li class="plano">
                <h3 class="plano__subtitulo">Plano Plus</h3>
                <hr class="plano__barra">

                <ul class="plano__lista">
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/check.png" alt="Check">
                        <p class="item__descricao">Simulador Inteligente</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/check.png" alt="Check">
                        <p class="item__descricao">Dicas Práticas Personalizadas</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/check.png" alt="Check">
                        <p class="item__descricao">Relatórios Avançados de Economia</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/check.png" alt="Check">
                        <p class="item__descricao">Gamificação e Rankings Sustentáveis</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/close.png" alt="Check">
                        <p class="item__descricao">Suporte Prioritário</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/close.png" alt="Check">
                        <p class="item__descricao">Monitoramento em Tempo Real</p>
                    </li>
                </ul>

                <hr class="plano__barra">
                <div class="plano__preco-container">
                    <h2 class="plano__valor">R$25<span class="plano__descricao">/mês</span></h2>
                    <button class="plano__botao-inscrever">Inscreva-se Já</button>
                </div>
            </li>

            <img class="planos__icone" src="../assets/icons/plano-premium.png" alt="Ícone do Plano Premium">
            <li class="plano">
                <h3 class="plano__subtitulo">Plano Premium</h3>
                <hr class="plano__barra">

                <ul class="plano__lista">
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/check.png" alt="Check">
                        <p class="item__descricao">Simulador Inteligente</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/check.png" alt="Check">
                        <p class="item__descricao">Dicas Práticas Personalizadas</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/check.png" alt="Check">
                        <p class="item__descricao">Relatórios Avançados de Economia</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/check.png" alt="Check">
                        <p class="item__descricao">Gamificação e Rankings Sustentáveis</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/check.png" alt="Check">
                        <p class="item__descricao">Suporte Prioritário</p>
                    </li>
                    <li class="plano__lista-item">
                        <img class="item__check" src="../assets/icons/check.png" alt="Check">
                        <p class="item__descricao">Monitoramento em Tempo Real</p>
                    </li>
                </ul>

                <hr class="plano__barra">
                <div class="plano__preco-container">
                    <h2 class="plano__valor">R$50<span class="plano__descricao">/mês</span></h2>
                    <button class="plano__botao-inscrever">Inscreva-se Já</button>
                </div>
            </li>
        </ul>
    </main>
</body>
</html>