<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/sobre-nos.css">
</head>
<body>
    <img class="logo-cinza" src="../assets/images/logo-cinza.svg">
    <header class="cabecalho">
        <a href="../index.html" class="logo-container">
            <img class="logo__imagem" src="../assets/images/logo-energia-inteligente.svg" alt="LOGO"
                width="65px"
                height="65px">
            <h2 class="logo__titulo">Energia Inteligente</h2>
        </a>
      
        <ul class="cabecalho__lista">
            <li class="lista__item"><a href="../index.html">HOME</a></li>
            <li class="lista__item"><a href="./planos.html">PLANOS</a></li>
        </ul>
    </header>

    <main class="sobre-nos">
        <h1 class="sobre-nos__titulo">Sobre Nós</h1>
        <ul class="sobre-nos__lista">
            <li class="sobre-nos__lista-item">
                <h2 class="sobre-nos__subtitulo">Valores</h2>
                <ul class="lista-valores">
                    <li class="lista-valores-item"><b>Sustentabilidade:</b> Compromisso com o meio ambiente e a redução de desperdícios.</li>
                    <li class="lista-valores-item"><b>Inovação:</b> Usamos tecnologia de ponta para criar soluções práticas.</li>
                    <li class="lista-valores-item"><b>Acessibilidade:</b> Tornamos recursos avançados simples e disponíveis para todos.</li>
                    <li class="lista-valores-item"><b>Educação:</b> Capacitar os usuários com conhecimento para fazer a diferença.</li>
                    <li class="lista-valores-item"><b>Inclusão:</b> Criamos uma plataforma pensada para atender pessoas e empresas de todos os perfis.</li>
                </ul>
            </li>
            <li class="sobre-nos__lista-item">
                <h2 class="sobre-nos__subtitulo">Nossa Essência</h2>
                <p class="sobre-nos__descricao">No Energia Inteligente, acreditamos que a eficiência energética deve estar ao alcance de todos. Somos uma equipe comprometida em usar tecnologia de ponta para transformar desperdício em economia real, promovendo sustentabilidade de forma simples e acessível.</p>
            </li>
            <li class="sobre-nos__lista-item">
                <h2 class="sobre-nos__subtitulo">Visão</h2>
                <p class="sobre-nos__descricao">Ser referência em soluções digitais de eficiência energética, contribuindo para a transição global rumo à sustentabilidade ambiental e social.</p>
            </li>
            <li class="sobre-nos__lista-item">
                <h2 class="sobre-nos__subtitulo">Missão</h2>
                <p class="sobre-nos__descricao">Empoderar pessoas a consumir energia de forma consciente, reduzindo custos e desperdícios, e promovendo um futuro sustentável para todos.</p>
            </li>
        </ul>
    </main>
    <footer class="rodape">
        <ul class="rodape__lista">
            <li class="rodape__lista__container">
                <img class="logo__imagem logo-rodape" src="../assets/images/logo-energia-inteligente.svg" alt="LOGO" width="55px" height="55px">
                <p class="rodape__descricao">&copy Todos os Direitos Reservados pela Energia Inteligente 2024</p>
            </li>

            <li class="rodape__lista__container redes">
                <a class="container__icone" href="#"><img src="../assets/icons/instagram.svg" alt="Instagram" width="25px" height="25px"></a>
                <a class="container__icone" href="#"><img src="../assets/icons/facebook.svg" alt="Facebook" width="25px" height="25px"></a>
                <a class="container__icone" href="#"><img src="../assets/icons/github.svg" alt="Github" width="25px" height="25px"></a>
            </li>
        </ul>
    </footer>
</body>
</html>