* {
    /* RESET CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;

    color: var(--cor-primaria);
    font-family: 'Poppins', sans-serif;
    
}

/* VARIÁVEIS */
:root {
    /* CORES */
    --cor-de-fundo: black;
    --cor-de-fundo-secundaria: #18181C;
    --cor-de-fundo-terciaria: #222228;

    --gradiente-principal: linear-gradient(to right, aqua, #8054FF);
    --gradiente-secundario: linear-gradient(-45deg, #8054FF 10%, aqua 100%); 

    /* GRADIENTE ALTERNATIVO ROXO
    --gradiente-principal: linear-gradient(to right, #FF9898, #8054FF);
    --gradiente-secundario: linear-gradient(-14deg, #8054FF 10%, #FF9898 100%); */

    /* FONTES */
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #9E9E9E;
    --fonte-principal: 'Poppins', sans-serif;
}